<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body style="padding:10px;">

    <h1>聊天室</h1>

    <fieldset>
        <legend>消息编辑区：</legend>
        <form>
            <div class="form-group">
                <label for="txtname">昵称：</label>
                <input type="text" placeholder="请输入昵称" id="txtname" class="form-control" maxlength="10" required>
            </div>
            <div class="form-group">
                <label for="txtmessage">消息：</label>
                <textarea rows="4" placeholder="请输入要发送的消息" id="txtmessage" class="form-control" maxlength="200" required></textarea>
            </div>
        </form>
    </fieldset>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

</body>

</html>