<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body style="padding:10px;">

    <h1>聊天室&nbsp;&nbsp;&nbsp;&nbsp;<small>当前有<span id="wscount"></span>人在线</small></h1>

    <fieldset>
        <legend>消息编辑区：</legend>
        <form id="form">
            <div class="form-group">
                <label for="txtname">昵称：</label>
                <input type="text" placeholder="请输入昵称" id="txtname" class="form-control" maxlength="10" required>
            </div>
            <div class="form-group">
                <label for="txtmessage">消息：</label>
                <textarea rows="4" placeholder="请输入要发送的消息" id="txtmessage" class="form-control" maxlength="200" required></textarea>
            </div>
            <input type="submit" value="发送消息" id="btnsubmit" class="btn btn-primary pull-right">
        </form>
    </fieldset>

    <fieldset>
        <legend>消息列表：</legend>
        <ul class="list-group" id="msglist"></ul>
    </fieldset>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script>
        $(function() {
            var ws = new WebSocket('ws://127.0.0.1:3000');
            ws.onopen = function() {
                console.log('连接服务器成功！');
            }
            ws.onmessage = function(msgEvent) {
                var msgObj = JSON.parse(msgEvent.data);
                // 刷新当前在线人数
                $('#wscount').text(msgObj.wsCount);
                // 拼接消息列表
                $('#msglist').prepend('<li class="list-group-item"><span class="badge">' + msgObj.timestamp + '</span><strong style="color:' + (msgObj.type === 1 ? 'red' : '') + ';">' + msgObj.username + '：</strong>' + msgObj.msg + '</li>');
            }

            // 当触发表单的 submit 事件时候，向服务器发送消息
            $('#form').on('submit', function(e) {
                e.preventDefault();
                // 发送消息
                ws.send(JSON.stringify({
                    username: $('#txtname').val().trim(),
                    message: $('#txtmessage').val().trim()
                }));
                // 如果消息发送成功，则清空消息框
                $('#txtmessage').val('');
            });

            // 响应 回车键 的事件
            $(document).on('keyup', function(e) {
                // 当用户在按下 ctrl 键，同时抬起 enter 键的时候，才提交表单
                if (e.keyCode === 13 && e.ctrlKey) {
                    // 触发 提交按钮 的 点击事件
                    $('#btnsubmit').trigger('click');
                }
            });
        });
    </script>
</body>

</html>